<!doctype html>
    <head>
        <% include ./partials/head %>
    </head>

    <body>
        <% if (expressFlash.length > 0) { %>
            <div class='flash-message__info'>
            <%- expressFlash %>
            </div>
        <% } %>
        <div id='app'>
        </div>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>
